<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wlw_02_19_wangmiao.gamestest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="com.wlw_02_19_wangmiao.gamestest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wlw_02_19_wangmiao.gamestest.MY_CATEGORY" />
                <!--
            android.intent.category.DEFAULT是一种默认的category，
            在启动startActivity（）方法的时候会自动将这个category添加到Intent中
                -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wlw_02_19_wangmiao.gamestest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wlw_02_19_wangmiao.gamestest.OTHER_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wlw_02_19_wangmiao.gamestest.ItemListActivity" />
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wlw_02_19_wangmiao.gamestest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wlw_02_19_wangmiao.gamestest.ANOTHER_CATEGORY" />
            </intent-filter>
        </activity>
    </application>

</manifest>